<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Hms.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Hms.UI.Properties.Settings>
            <setting name="ThemeName" serializeAs="String">
                <value>BaseLight</value>
            </setting>
            <setting name="ThemeResourceAddress" serializeAs="String">
                <value>pack://application:,,,/MahApps.Metro;component/Styles/Accents/BaseLight.xaml</value>
            </setting>
            <setting name="BaseColorName" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="BaseColorResourceAddress" serializeAs="String">
                <value>pack://application:,,,/MahApps.Metro;component/Styles/Accents/Blue.xaml</value>
            </setting>
        </Hms.UI.Properties.Settings>
    </userSettings>
</configuration>